<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scraping" type="FreeromsScraping.Configuration.ScrapingSection, FreeromsScraping"/>
  </configSections>
  
  <scraping>
    <sources>
      <add name="nes" url="http://www.freeroms.com/snes_roms.htm"/>
    </sources>
  </scraping>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>