<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="scraping" type="FreeromsScraping.Configuration.ScrapingSection, FreeromsScraping" />
  </configSections>

  <scraping destinationFolder="c:\users\fabian\downloads\freeroms">
    <sources>
      <!--<add name="amstradcpc" url="http://www.freeroms.com/amstrad_cpc.htm"/>-->
      <!--<add name="arcade" url="http://www.freeroms.com/mame.htm"/>-->
      <!--<add name="atarilynx" url="http://www.freeroms.com/atari_lynx.htm"/>-->
      <!--<add name="gamegear" url="http://www.freeroms.com/game_gear.htm"/>-->
      <!--<add name="gba" url="http://www.freeroms.com/gba_roms.htm"/>-->
      <!--<add name="gbc" url="http://www.freeroms.com/gameboy_color.htm"/>-->
      <!--<add name="genesis" url="http://www.freeroms.com/genesis.htm"/>-->
      <!--<add name="mastersystem" url="http://www.freeroms.com/sega_master_system.htm"/>-->
      <!--<add name="n64" url="http://www.freeroms.com/n64_roms.htm"/>-->
      <!--<add name="neogeo" url="http://www.freeroms.com/neogeo.htm"/>-->
      <!--<add name="nes" url="http://www.freeroms.com/nes.htm"/>-->
      <add name="psp" url="http://www.freeroms.com/psp_roms.htm"/>
      <add name="psx" url="http://www.freeroms.com/psx.htm"/>
      <!--<add name="sega32x" url="http://www.freeroms.com/sega_genesis_32x.htm"/>-->
      <!--<add name="segacd" url="http://www.freeroms.com/sega_cd.htm"/>-->
      <!--<add name="snes" url="http://www.freeroms.com/snes_roms.htm"/>-->
    </sources>
  </scraping>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>